
<p ng-hide='es.event || es.errorMessage'>Loading...</p>
<p><span class='game-title'>{{es.event.name}}</span></p>

<form class='create-event' ng-submit='es.editEvent()'>
  <label>Event name:</label><input type='text' class='form-control' ng-model='es.event.name' ng-model-options="{updateOn: 'submit'}" required placeholder='Name'>
  <label>Location:</label><input type='text' class='form-control' ng-model='es.event.location' required placeholder='Location'>
  <label>Date:</label><input type="text" class='form-control' ng-model='es.event.date' required>
  <label>Stream Url:</label><input type='text' class='form-control' ng-model='es.event.stream' placeholder='Event stream'>
  <label>Website:</label><input type='text' class='form-control' ng-model='es.event.website' placeholder='Event website'>
  <label>Twitter:</label><input type='text' class='form-control' ng-model='es.event.twitter' placeholder='Event twitter'>
  <label>Game:</label>
    <select name='select-game' class='form-control' ng-model='es.event.game' required>
      <option ng-repeat='game in es.gameList | orderBy: "name"' value='{{game.name}}'>{{game.name}}</option>
    </select>
  <button class='btn btn-default'>Edit this Event</button>
  <button class='btn btn-default' type='button' ng-click='es.cancelEdit()'>Cancel</button>
  <button class='btn btn-default' type='button' ng-click='es.deleteEvent()'>Delete Event</button>
</form>


<p class='error-msg' ng-show='es.errorMessage'>{{es.errorMessage}}</p>
