<!DOCTYPE html>
<html lang='en' ng-app='app'>
    <head>
        <meta charset='utf-8'>
        <title></title>

        <meta name='description' content=''>
        <meta name='author' content='Alex Perkins'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no'>

        <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald:400,700' type='text/css'>
        <link rel='stylesheet' href='https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css'>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css' integrity='sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7' crossorigin='anonymous'>
        <link rel='stylesheet' href='css/main.css'>
    </head>
    <body ng-controller='AppController as ac'>

      <header>
      </header>

      <main>

        <nav class="navbar navbar-default navbar-static-top" ng-controller='NavController as nc'>
          <ul class="nav navbar-nav">
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown">MOBA</a>
              <ul class='dropdown-menu'>
                  <li ng-repeat='game in nc.mobaArray'>
                    <a ui-sref='streams({ id: game.id })'>{{game.name}}</a>
                  </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown">Fighting</a>
              <ul class='dropdown-menu'>
                  <li ng-repeat='game in nc.fightingArray'>
                    <a ui-sref='streams({ id: game.id })'>{{game.name}}</a>
                  </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown">FPS</a>
              <ul class='dropdown-menu'>
                  <li ng-repeat='game in nc.fpsArray'>
                    <a ui-sref='streams({ id: game.id })'>{{game.name}}</a>
                  </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown">RTS</a>
              <ul class='dropdown-menu'>
                  <li ng-repeat='game in nc.rtsArray'>
                    <a ui-sref='streams({ id: game.id })'>{{game.name}}</a>
                  </li>
              </ul>
            </li>
            <li class="dropdown">
              <a class='dropdown-toggle' data-toggle="dropdown">CCG</a>
              <ul class='dropdown-menu'>
                  <li ng-repeat='game in nc.ccgArray'>
                    <a ui-sref='streams({ id: game.id })'>{{game.name}}</a>
                  </li>
              </ul>
            </li>
          </ul>
        </nav>

        <!-- <nav class="navbar navbar-default navbar-static-top" ng-controller='NavController as nc'>
          <ul class="nav navbar-nav">
            <li class="dropdown" ng-repeat='item in nc.navArray'>
              <a class='dropdown-toggle' data-toggle="dropdown">{{item.name}}</a>
              <ul class='dropdown-menu'>
                  <li><a ui-sref='streams({ id: item.id })'>Top Streams</a></li>
                  <li><a ui-sref='events({ id: item.id })'>Event Calendar</a></li>
              </ul>
            </li>
          </ul>
        </nav> -->

        <div class='stream'>
          <iframe

            ng-class='{"large-stream": ac.largeStream}'
            ng-src="{{ac.embeddedStream}}"
            height="{{ac.streamHeight}}"
            width="{{ac.streamWidth}}"
            frameborder="0"
            scrolling="no"
            allowfullscreen="true">
          </iframe>
            <div class='clearfix'></div>
          <button ng-show='!ac.largeStream' ng-click='ac.theaterMode()'>Theater Mode</button>
          <button ng-show='ac.largeStream' ng-click='ac.defaultMode()'>Default Mode</button>
        </div>


        <section ng-show='!ac.largeStream' ui-view class="main-section"></section>

        <div class='clearfix'></div>
        <div class="push"></div>
      </main>


      <p class='error-msg login-error'>{{ac.errorMessage}}</p>
      <footer>
        <nav class=''>
          <ul class=''>
            <li ng-show='!ac.authData'><a ng-click='ac.login()'>Login</a></li>
            <li ng-show='ac.authData'><a ui-sref='createEvent'>Create Event</a></li>
            <li ng-show='ac.authData'><a ui-sref='editAllEvents'>Edit Event</a></li>
            <li ng-show='ac.authData'><a ng-click='ac.logout()'>Logout</a></li>
          </ul>
        </nav>
      </footer>


      <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
      <script src="https://code.jquery.com/ui/1.12.0-rc.2/jquery-ui.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
      <script src='https://angular-ui.github.io/ui-router/release/angular-ui-router.js'></script>
      <script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
      <script src="https://cdn.firebase.com/libs/angularfire/1.0.0/angularfire.min.js"></script>
      <script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
      <script>
        Twitch.init({clientId: 'nda9qwhtllum6kp584qw6m2a3xf81kc'}, function(error, status) {
          // the sdk is now loaded
        });
      </script>
      <script src='js/app.js'></script>

    </body>
</html>
