
nav {
  height: 50px;
  display: block;
  background-color: #000;
}

// nav li {
//   height: 50px;
//   float: left;
//   margin: 0 3%;
//   // margin-top: 15px;
//   color: #fff;
// }

#stream {
  width: 640px;
  margin: 2% auto;
}

.dropdown-menu {
  min-width: 300px;
}

.clearfix {
  clear: both;
}
