
a {
  cursor: pointer;
}

html, body {
height: 100%;
}

body {
  background-color: #EFEEF7;
}

main {
  width: 90%;
  margin: 0 auto -40px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

label {
  font-family: 'Oswald', sans-serif;
  color: #fff;
}

form {
  background-color: #248CB2;
  padding: 20px;
  border-radius: 5px;
}

input {
  margin-bottom: 10px;
}

select {
  margin-bottom: 10px;
}

.navbar {
    text-align: center;
    background-color: black;
    border-bottom: 3px solid $primaryAccent;
    // box-sizing: border-box;
    height: 50px;
    margin-bottom: 30px;
}

.navbar .nav {
    float: none;
    display:inline-block;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}


a.dropdown-toggle {
  color: white;
  font-family: 'Oswald', sans-serif;
}

footer {
  width: 90%;
  background-color: black;
  border-top: 3px solid $primaryAccent;
  margin: 0 auto;
  vertical-align: middle;
  line-height: 50px;
  // margin-top: 5%;
  // height: 50px;
}

footer li {
  color: white;
  float: right;
}

footer nav {
  float: right;
  border: none;
}

footer, .push {
height: 50px;
}

div.stream {
  // width: 720px;
  // margin-top: 5%;
  margin-right: 1%;
  float: right;
  display: block;
}

// .dropdown-toggle:hover {
//   color: #4DCFFF;
// }

.dropdown-menu {
  // min-width: 300px;
  background-color: #000;
  margin-top: -4px !important;   // TODO: don't use important
  font-family: 'Oswald', sans-serif;
  text-align: center;
  border: 3px solid $primaryAccent;
  border-top: none;
}

.navbar-default .navbar-nav>.open>a {
  color: #4DCFFF;
  background-color: #000;
}

.navbar-toggle {
  float:left;
  margin-left: 15px;
}

.dropdown-menu>li>a {
  color: #fff;
}

.list-inline li{
  margin: 0 2%;
}

.streamer-li {
  border: 1px solid #000;
  border-radius: 2px;
  height: 50px;
  margin-bottom: 2%;
  background-color: #fff;
  // color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 0.95em;
  line-height: 48px;
  // box-shadow: 1px 0px 1px;
}

.watch-stream-btn {
  line-height: 0px;
  border-radius: 0px;
  background-color: #3EA6CC;
  height: 100%;
  width: 20%;
  outline: none;
  margin-left: 15px;
  border: none;
  float: right;
}

.watch-stream-btn:active {
  outline: none;
}

.watch-stream-btn:focus {
  outline: none;
}

.theater-btn {
  margin-top: 1%;
  float: right;
  border-radius: 5px;
  background-color: #133440;
  outline: none;
  border: none;
  font-size: .8em;
  font-family: 'Oswald', sans-serif;
}

.event-li {
  border: 1px solid #000;
  border-radius: 2px;
  height: 50px;
  margin-bottom: 2%;
  // background-color: #000;
  // color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 0.95em;
  line-height: 48px;
  box-shadow: 1px 0px 1px;
  background-color: #fff;
}

.event-website {
  float: right;
  margin-right: 4%;
}

.edit-event-li{
  border-bottom: 1px solid black;
  margin-bottom: 4%;
}

// .create-event input{
//   float: right;
// }

.game-title {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
}

.stream-logo {
  width: 48px;
  float: left;
  margin-right: 2%;
  border-right: 1px solid black;
  box-sizing: content-box;
}

.game-logo {
  width: 48px;
  float: right;
  // margin-right: 2%;
  // border-right: 1px solid black;
  box-sizing: content-box;
}

.viewers {
  float: right;
  line-height: 15px;
  padding-top: 10px;
}

.main-section {
  float: left;
  width: 30%;
  margin-left: 1%;
}

.error-msg {
  font-size: 1.5em;
  font-weight: bold;
  margin: 2%;
}

.login-error {
  margin-right: 0;
}

.large-stream {
  float: none;
  margin: 0 auto;
  display: block;
}

.clearfix {
  clear: both;
}

@media screen and (min-width: 768px) {
  .navbar-default .navbar-nav>li>a:hover {
    color: $primaryAccent;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .dropdown-menu>li>a:hover {
    background-color: $primaryAccent;
  }

  .navbar-default .navbar-nav>.open>a:hover {
    color: #4DCFFF;
    background-color: #000;
  }
}

@media screen and (min-width: 668px) and (max-width: 1200px) {
  .main-section {
    width: 40%;
  }

}
