
a {
  cursor: pointer;
}

main {
  width: 80%;
  margin: 0 auto;
}

.navbar {
    text-align: center;
    background-color: black
}

.navbar .nav {
    float: none;
    display:inline-block;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

a.dropdown-toggle {
  // background-color: #000;
  color: white;
  font-family: 'Oswald', sans-serif;
}

// nav li {
//   height: 50px;
//   float: left;
//   margin: 0 3%;
//   // margin-top: 15px;
//   color: #fff;
// }

#stream {
  width: 640px;
  margin: 2% auto;
}

.dropdown-menu {
  min-width: 300px;
  // text-align: center;
}

.streamer-li {
  border: 1px solid #000;
  height: 50px;
  margin: 1% 0;
}

.stream-logo {
  width: 50px;
  float: left;
}

.watch-stream-btn {
  float: right;
}

.clearfix {
  clear: both;
}
