
<!-- <iframe
  ng-src="{{streams.embeddedStream}}"
  height="360"
  width="640"
  frameborder="0"
  scrolling="no"
  allowfullscreen="true">
</iframe> -->




<ul>
  <li class='streamer-li' ng-repeat='stream in streams.singleGameStreamsArray'>
    <img class='stream-logo' ng-src='{{stream.channel.logo}}'>
    <p>{{stream.channel.display_name}}</p> <p>{{stream.viewers}} viewers</p>
    <button class='watch-stream-btn' ng-click="ac.changeStream(stream.channel.name)">Open stream</button>
  </li>
</ul>
